
<div style="margin: 25px;padding: 0px 30px;">
  <!-- Charts implementation example -->
  <app-chart> </app-chart>
  <lib-table ></lib-table>
  <!-- languageTranslate pipe implementation example-->
  <div style="margin: 30px 0px;">{{ message | languageTranslate:language }}</div>
  <!-- Dynamic form implementation example -->
  <dynamic-form [formJson]="data" [language]="language" #formLib></dynamic-form>
  <button (click)="submitData()" [disabled]="this.formLib?.myForm?.invalid" mat-raised-button style="margin: 30px 0px;">SUBMIT</button>
</div>
