<form class="forms" action="#">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput type="text" placeholder="First Name">
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput type="text" placeholder="Last Name">
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" placeholder="abcd@gmail.com">
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Rating (out of 10)</mat-label>
    <input matInput type="number" placeholder="">
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Any Suggestion</mat-label>
    <input matInput type="text" placeholder="Any Suggestion">
  </mat-form-field>
  
  <button mat-button class="btn" type="submit">Submit</button>
</form>