/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mdc-text-field--filled{
  background-color: white !important;
}

.mat-mdc-form-field-focus-overlay{
  opacity: 0 !important;
}

.no-bottom-line .mdc-line-ripple::before{
  position: relative;
  display: none;
}